.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: #536615;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #a4ce1a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #536615;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .header {
    background-color: #27cee8;
    display: inline-block;
    width: 100%;
  }

  .it-hit p,
  pre {
    text-align: right;
    font-family: Times New Roman;
    padding-right: 16px;
    padding-top: 0;
    margin: 0;
  }

  .it-hit pre {
    font-size: 31px;
    padding-top: 20px;

  }

  .it-hit p {
    font-size: 25px;
    padding-top: 5px;
    color: black;
  }

  .it-hit a {
    text-decoration: none;
  }

  .it-hit a.visited {
    color: currentColor;
  }

  .it-hit button {
    width: auto;
    background-color: #1CB94E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
    float: right;
    margin-right: 20px;
    padding: 5px;
  }